.article {
    display: block;
    margin-block: 1em 1em;
    margin-inline: 0px 0px;

    &[open] .disclosure-indicator {
        transform: rotate(90deg);
    }
}

.summary {
    position: relative;

    @media screen and (width < 1200px) {
        display: flex;
        align-items: center;
    }

    .icon {
        display: flex;
        height: 0;
        align-items: center;

        padding-right: 0.75rem;

        filter: var(--line-boil-filter);
        
        @media screen and (width >= 1200px) {
            position: absolute;
            top: 50%;
            
            transform: translate(-100%, -50%);
        }
    }

    .disclosure-indicator-container {
        position: relative;
        display: inline-block;

        height: 1em;
        padding-left: 2ch;
    }

    .disclosure-indicator {
        position: absolute;
        overflow: visible;

        transform-origin: center;
        transition: transform 350ms var(--ease-out-back);

        filter: var(--line-boil-filter);

        .disclosure-indicator-path {
            fill: var(--accent-color);
        }
    }

    &:focus-visible, &:hover {
        .disclosure-indicator-path {
            fill: var(--interactive-color);
        }
    }
}

.summary__break {
    display: inline-block;
}

.content {
    margin-top: var(--space-lg);

    .interactive-stack {
        display: flex;
        flex-direction: column;

        gap: calc(var(--space-sm) * 2);
    }
}